<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Активирует аннотации такие как @Autowired, @Required -->
    <!--Без этой строчки бины будут созданы, но не будут связаны -->
    <!-- Фактически заменяет подобные строки: -->
    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />-->
    <context:annotation-config />
    <!--В AutowiredAnnotationBeanPostProcessor реализована логика, которая выискивает все аннотированные
    @Autowired поля и через рефлекшен кладет в них что-то, например другой бин.
    Затем, после обработки кастомного бина бином BeanPostProcessor, обработанный бин
    возвращается спрингу (а точнее в BeanFactory), и спринг, уже полностью готовый бин, кладет в контейнер.-->

    <!-- папка с бинами-компонентами -->
    <context:component-scan base-package="by.netcracker.bsuir.pz3.courses"/>

    <!-- бин, ответственный за подключение к БД -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/courses_spring?useSSL=false" />
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property name="password" value="SQL174"/>
        <property name="initialSize" value="5"/>
        <property name="maxTotal" value="10"/>
    </bean>

    <!-- EntityManager (LocalContainerEntityManagerFactoryBean - бин-поставщика данных) -->
    <bean id="entityManager" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="by.netcracker.bsuir.pz3.courses" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
                <property name="database" value="MYSQL" />
                <property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />
            </bean>
        </property>
    </bean>

    <!-- Процессор для инъекции entityManager -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <!--TO DO: Добавить конфиг для транзакций-->
</beans>